/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollText {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-100% - 200px));
    }
}

.concept-text-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    mask-image: linear-gradient(
        to right,
        transparent,
        black 8px,
        black calc(100% - 8px),
        transparent
    );
}
